@using web_service.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = user != null && await UserManager.IsInRoleAsync(user, "Administrator");
    var isMechanic = user != null && await UserManager.IsInRoleAsync(user, "Mechanic");
    var isStorekeeper = user != null && await UserManager.IsInRoleAsync(user, "Storekeeper");
    var isClient = user != null && await UserManager.IsInRoleAsync(user, "Client");
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)"
           asp-area="Identity"
           asp-page="/Account/Manage/Index">
            Профиль
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)"
           asp-area="Identity"
           asp-page="/Account/Manage/Email">
            Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)"
           asp-area="Identity"
           asp-page="/Account/Manage/ChangePassword">
            Пароль
        </a>
    </li>
    @if (isClient)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.MyCarsNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/MyCars">
                Мои автомобили
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.RecordNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/Record">
                Запись на обслуживание
            </a>
        </li>
    }
    <!-- _ManageNav.cshtml -->
    @if (isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ClientsNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/Clients">
                Клиенты
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.RecordApproveNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/RecordApprove">
                Заявки на обслуживание
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.EmployeesNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/Employees">
                Сотрудники
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.TypeServiceNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/TypeService">
                Услуги
            </a>
        </li>
    }
    <!----------------------------------------------------------------------------->
    @if (isStorekeeper || isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.StorageLocationNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/StorageLocation">
                Места хранения
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.CategoryPartNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/CategoryPart">
                Категории запчастей
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.PartsNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/Parts">
                Управление запчастями
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.PartInStorageNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/PartInStorage">
                Запчасти в хранении
            </a>
        </li>
    }
    @if (isMechanic || isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.WorkNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/Work">
                Работы
            </a>
        </li>
    }
    @if (isAdmin || isMechanic || isStorekeeper)
    {

        <li class="nav-item">
            <a class="nav-link @ManageNavPages.WorkOrderDetailsNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/WorkOrderDetails">
                Работа с заказ-нарядом
            </a>
        </li>
    }
    @if (isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.WorkOrdersNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/WorkOrders">
                Заказ-наряды
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.PaymentNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/Payment">
                Оплата
            </a>
        </li>
    }
    

    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)"
               asp-area="Identity"
               asp-page="/Account/Manage/ExternalLogins">
                External logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)"
           asp-area="Identity"
           asp-page="/Account/Manage/PersonalData">
            Персональные данные
        </a>
    </li>
</ul>
